<div class="calendar-container">
    <h4 id="current-date"></h4>
    <div class="week">
        <span>S</span>
        <span>M</span>
        <span>T</span>
        <span>W</span>
        <span>T</span>
        <span>F</span>
        <span>S</span>
    </div>
    <div class="days" id="days-container">
    </div>
</div>
