@model StudentVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <link rel="stylesheet" href="~/css/Home.css" style="height:100%;">
    <div class="left-section" style="background-color:var(--bs-info);">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/Siegel_FU_Berlin.svg"
                 alt="UniCourseSelect Logo">
            <h1>UniCourseSelect</h1>
        </div>
        <br />
        <div class="message">
            <h2>Don't Forget the Finals!!!!</h2>
            <p>Pick Your desired Course Before others can even log in</p>
        </div>
        <img src="https://www.fu-berlin.de/en/sites/startseite-test/inhalte/intl-menschen.jpg?width=1000" alt="University Image" class="university-image">
    </div>
    <div class="right-section">
        <partial name="_RegisterPartial" model="@Model" />
    </div>
</div>

